<h5>user/edit</h5>

<%=form_with(model:@user) do |f|%>
  <div>
    <%= f.label :ch_name, "中文名字" %>
    <%= f.text_field :ch_name %>
  </div>

  <div>
    <%= f.label :en_name, "英文名字" %>
    <%= f.text_field :en_name %>
  </div>

  <div>
    <%= f.label :phone_number , "手機號碼" %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :b_day, "出生日期" %>
    <%= f.date_field :b_day %>
  </div>

  <div>
    <%= f.label :passport_number, "護照號碼" %>
    <%= f.text_field :passport_number %>
  </div>

  <div>
    <%= f.label :passport_date, "護照效期" %>
    <%= f.date_field :passport_date %>
  </div>

  <div>
    <%= f.label :passport_photo, "護照上傳" %>
    <%= f.file_field :passport_photo %>
  </div>

  <div>
    <%= f.label :travel_url, "行程網址" %>
    <%= f.url_field :travel_url %>
  </div>

  <div>
    <%= f.label :other, "特殊需求備註" %>
    <%= f.text_field :other %>
  </div>

  <%=f.submit '送出' %>
<%end%>