<h1>旅客資訊表</h1>

<%= link_to '新增旅客資料' , new_user_path%>

<table>
  <thead>
    <tr>
      <td>中文名字</td>
      <td>英文名字 </td>
      <td>手機號碼</td>
      <td>備註</td>
      <td>編輯</td>
      
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
      <td><%= link_to user.ch_name , user_path(user)%></td>
      <td><%=user.en_name%></td>
      <td><%=user.phone_number%></td>
      <td><%=user.other%></td>
      <td>
        <%= link_to '編輯資料' , edit_user_path(user)%>
        <%= link_to '刪除資料' , user_path(user) , method: 'delete' , data: {confrim: "確定刪除？" }%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



